/*  Resetar o css do navegador */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}

/* todos que estão dentro do body vão usar essa font, estou pegando do google */
body{
    font-family: 'Open Sans', sans-serif;
}

/* definido o tamanho da página que vou trabalhar no curriculo */
.pagina{
    width: 600px;
    height: 800px;
    border: 1px solid;
}